/*estilo da parte de navegação*/
header {
    display: flex;
    justify-content: center;
    background-color: var(--dark-100);
    width: 100%;
  }
  .menu-icon {
    display: none;
  }
  
  .container-grid {
    width: 80%;
  }
  
  .container-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
  }
  
  .container-menu h1 {
    color: var(--brand-color);
  }
  
  .container-menu h1:hover {
    color: var(--white);
    cursor: pointer;
  }
  
  .container-menu .links ul li{
    display: inline;
    
  }
  
  .links ul li  {
    font-size: 17px;
    color: var(--white);
    text-decoration: none;
    margin: 20px;
  }
  
  .links ul li:hover {
    color: var(--brand-color);
    cursor: pointer;
  }