* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;    
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul, li,  a{
  text-decoration: none;
  list-style-type: none;
}


:root {
  --dark-100: #121212;
  --dark-70: #151515;
  --dark-40: #C4C4C4;
  --white: #FFFFFF;

  --support-01: #2962FF;
  --support-02: #0BB07B;
  --support-03: #FFCE52;
  --support-04: #F03D3D;
  --support-05: #E0E0E0;

  --brand-color: #00D2DF;
  --Git: #D24074;
  --Linkedin: #9358F7;
}

/*treinando @media*/
@media (max-width:970px) {
  .container-menu h1 {
    font-size: 25px;
  }

  .container-nome-user {
    height: 362px;
    background-image: none;
  }

  .container-nome {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nome-do-portfolio {
    line-height: 1.5;
    width: 100%;
  }

  .nome-do-portfolio h1 {
    font-size: 32px;
  }

  .nome-do-portfolio h4 p {
    font-size: 16px;
  }

  .redes-sociais{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .cards-redes {
    width: 144px;
    height: 40px;
  }

  .container-texto-sobre .foto {
    display: none;
  }

  /*estilo dos projetos */
  .container-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    
  }

  .cards-projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 312px;
    margin-bottom: 0px;
  }
  .imagem-projetos {
    width: 312px;
    height: 130px;
  }
  #botao-cards {
    width: 312px;
  }
  .texto-projetos h1 {
    font-size: 18px;
  }

  .texto-projetos p {
    font-size: 16px;
  }

  .professor .texto-professor {
    display: none;
  }

  .professor  {
    display: flex;
    align-items: center;
    height: 300px;
    padding-top: 50px;
  }

  #digital-house{
    color: var(--brand-color);
    font-weight: 600;
  }
  .professor span  {
    display: none;
  }

}
