 /*estilo da segunda parte do main sobre mim*/
  
 .container-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35rem;
    background-color: var(--dark-70);
   
  }
  
  .container-texto-sobre {
    display: flex;
    justify-content: space-between;
  }
  .container-texto-sobre a {
    color: var(--brand-color);
  }
  
  .container-texto-sobre .foto {
    width: 23rem;
    height: 23rem;
    border-radius: 5px;
    border-left: 8px solid var(--brand-color);
  }
  
  .container-texto-sobre .foto img {
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 5px 5px;
    
  }
  
  .texto-sobre {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 34rem;
    color: var(--white);
  }
  
  .texto-sobre h1 {
    margin-bottom: 1.2rem;
    font-size: 24px;
    text-transform: uppercase;
  }
  
  .texto-sobre h4 {
    line-height: 3;
    font-size: 18px;
  }
  
  .texto-sobre p {
    line-height: 2;
  }
  
  .curriculo {
    display: flex;
    gap: 2.5rem;
  }

  .redes-sociais {
    margin-bottom: 1.5rem;
  }
  
  .container-texto-sobre .redes-sociais a {
    color: var(--brand-color);
  }

  .container-texto-sobre .redes-sociais a:hover {
    transition: 0.5s;
    color: var(--white);
  }
  