/*estilo da terceira parte EXPERIÊNCIA*/
.container-cor{
    background-color: var(--dark-100);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .experiencia{
  
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 13rem;
    height: 25rem;
    gap: 20px;
  }
  
  .experiencia h1 {
    font-size: 24px;
    color: var(--white);
    text-transform: uppercase;
  }
  
  .container-experiencia ul li {
    cursor: pointer;
    text-transform: none;
    color: var(--white);
  }
  
  .container-experiencia ul li a {
    text-decoration: none;
    color: var(--white);
    font-size: 18px;
    line-height: 2;
  }
  
  .container-experiencia ul li a:hover {
    color: var( --brand-color);
  }
  
  .professor{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 630px;
    height: 80%;
    color: var(--white);
  }
  
  .texto-professor{
    margin-top: -50px;
    display: flex;
    justify-content: space-between;
  }
  
  .professor span {
    font-size: 16px;
    font-weight: 600;
    color: var(--brand-color);
  }

  .tst {
    width: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .tst img {
    width: 150px;
    height: 100px;
    border-radius: 5px;
    border: 2px solid var(--brand-color);
  }

  .tst p {
    font-size: 10px;
  }

.certificados {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 5px;
  }

  /*treinando @media*/
@media (max-width:970px) {
  .container-cor {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .experiencia h1 {
    font-size: 16px;
  }

  .experiencia {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 5rem;
    gap: 2px;
  }

  .professor {
    width: 100%;
    padding-top: 0;
  }

  .container-experiencia ul {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  .container-experiencia ul li a {
    font-size: 10.5px;
  }

  .certificados {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }

  .tst {
    width: 100px;

  }

  .tst img {
    width: 100%;
    height: 100%;
  }
}



  